body {
    padding     : 10px;
    font-family : 'Alegreya', serif;
}

.row {
    margin : 0;
}

.bag {
    background     : url("../images/bag_bg.png");
    width          : 185px;
    min-height     : 42px;
    padding-left   : 3px;
    border         : solid 3px #756E5A;
    padding-bottom : 3px;
    position       : relative;
}

.bag-header {
    height : 35px;
}

.bag-logo {
    width           : 48px;
    height          : 48px;
    background-size : 42px 42px;
    position        : absolute;
    left            : -12px;
    top             : -12px;
    background      : #756E5A;
}

.bag-logo-image {
    width    : 42px;
    height   : 42px;

    position : absolute;
    top      : 3px;
    left     : 3px;
}

.bag-name {
    margin-left  : 31px;
    padding-left : 5px;
    color        : #fff;
    float        : left;
    width        : 123px;
    height       : 21px;
    background   : url("../images/bag_name.png");
    padding-top  : 1px;
}

.bag-close {
    width      : 22px;
    height     : 23px;
    background : url("../images/bag_close.png");
    float      : right;
}

.slot-height {
    height : 42px;
}

.top-row.left-slot {
    background : url("../images/bag_slot_top_left.png");
}

.top-row.center-slot {
    background : url("../images/bag_slot_top_center.png");
}

.top-row.right-slot {
    background : url("../images/bag_slot_top_right.png");
}

.middle-row.left-slot {
    background : url("../images/bag_slot_middle_left.png");
}

.middle-row.center-slot {
    background : url("../images/bag_slot_middle_center.png");
}

.middle-row.right-slot {
    background : url("../images/bag_slot_middle_right.png");
}

.bottom-row.left-slot {
    background : url("../images/bag_slot_bottom_left.png");
}

.bottom-row.center-slot {
    background : url("../images/bag_slot_bottom_center.png");
}

.bottom-row.right-slot {
    background : url("../images/bag_slot_bottom_right.png");
}

.bag-money {
    height     : 18px;
    margin-top : 2px;
    background : url("../images/coin_slot.png") no-repeat;
    color      : #78642D;
}

.bag-money-gold, .bag-money-silver, .bag-money-copper {
    padding-left : 12px;
}

.bag-money-gold {
    background   : url("../images/coin_gold.png") no-repeat 0 3px;
    margin-right : 5px;
}

.bag-money-silver {
    background   : url("../images/coin_silver.png") no-repeat 0 3px;
    margin-right : 5px;
}

.bag-money-copper {
    background   : url("../images/coin_copper.png") no-repeat 0 3px;
    margin-right : 12px;
}

.js-handle {
    cursor : move;
}

.js-link {
    cursor: pointer;
}