.item {
    box-sizing : border-box;
    position   : absolute;
    z-index    : 99999;
}

.item:hover {
    border : 2px solid gold;
}

.item-image {
    width  : 35px;
    height : 35px;
    margin : 3px 0 0 3px;
}

.item-level {
    color : #FFBE16;
}

.common {
    color : white;
}

.uncommon {
    color : #17C21D;
}

.rare {
    color : #0069C5;
}

.epic {
    color : #A329BA;
}

.tooltip-inner {
    background : #080D21;
    border     : solid 2px whitesmoke;
    max-width  : 257px;
    /* If max-width does not work, try using width instead */
    width      : 257px;
    text-align : left;
}